<div class="row">
  <div class="col-12">
    <table id="tblCitas3" class="table-hover aui-table aui-table--stretched" style="width:100%">
      <caption>Citas por entregar</caption>
      <thead>
        <tr>
          <th>id</th>
            <th>lugar</th>
            <th>fecha</th>
            <th>placa</th>
            <th>valet</th>
        </tr>
      </thead>
    </table>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-12 text-center">
    <p>Puede cambiar el valet que entregará el auto:</p>
  </div>
</div>
<div id="msg_citasPorEntregar" class="alert text-center" role="alert" style="display: none"></div>
<div class="row">
  <div class="col-6">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" id="slcValets2">
      </select>
      <label class="aui-select__label" for="slcValets2">Valets</label>
      <span class="aui-select__description">Primero seleccione una cita de la tabla de arriba. Luego puede elegir el Valet aquí y asignarlo</span>
    </div>

  </div>
  <div class="col-6">
    <button id="btnAsignarValet2" type="button" class="aui-button aui-button--primary aui-js-response aui-button--stretched" onclick="AsignarValet(2)" disabled>Asignar Valet</button>
  </div>
</div>
