<div class="row">
<div class="col-12">
    <table id="tblCitas1" class="table-hover aui-table aui-table--stretched" style="width:100%">
      <caption>Citas por recibir</caption>
      <thead>
        <tr>
          <th>id</th>
          <th>lugar</th>
          <th>fecha</th>
          <th>placa</th>
          <th>valet</th>
        </tr>
      </thead>
    </table>
    <br>

</div>

</div>




<div id="msg_citasPorRecibir" class="alert text-center" role="alert" style="display: none"></div>

<div class="row">


  <div class="col-6">
  <div class="aui-select aui-js-select aui-select--floating-label">
    <select class="aui-select__input" id="slcValets">
    </select>
    <label class="aui-select__label" for="slcValets">Valets</label>
    <span class="aui-select__description">Primero seleccione una cita de la tabla de arriba. Luego puede elegir el Valet aquí y asignarlo</span>
  </div>
  </div>

  <div class="col-6">

    <button id="btnAsignarValet" onclick="AsignarValet(1)"  class="aui-button aui-button--primary aui-js-response aui-button--stretched" type="button" disabled>
      Asignar Valet
    </button>
  </div>
</div>
