<div class="row">
  <div class="col-12">
    <table id="tblCitasEliminadas" class="table-hover aui-table aui-table--stretched" style="width:100%">
      <caption>Citas eliminadas</caption>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Placa</th>
          <th>Cliente</th>
        </tr>
      </thead>
    </table>
    <br>
  </div>
</div>
<div id="msg_citasElininadas" class="alert text-center" role="alert" style="display: none"></div>
