<div class="row">
  <div class="col-12">
    <table id="tblCitas4" class="table-hover aui-table aui-table--stretched" style="width:100%">
      <caption>Citas finalizadas</caption>
      <thead>
        <tr>
          <th>id</th>
          <th>Precio</th>
          <th>Descripción</th>
          <th>Kilometraje</th>
          <th>Fecha</th>
          <th>Placa</th>
          <th>Valet</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

<div id="msg_citasFinalizadas" class="alert text-center" role="alert" style="display: none"></div>
<div class="row">
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
      <div class="aui-textfield__field">
        <input disabled class="aui-textfield__input" type="text" id="inputValet" placeholder="Nombre"/>
        <label class="aui-textfield__label" for="inputValet">Valet que finalizó cita:</label>
      </div>
    </div>
  </div>
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
      <div class="aui-textfield__field">
        <input disabled class="aui-textfield__input" type="text" id="inputPrecio2" placeholder="0.00"/>
        <label class="aui-textfield__label" for="inputPrecio2">Precio: $</label>
      </div>
    </div>
  </div>

  <div class="col-sm">
    <div  class="aui-textfield aui-js-textfield aui-textfield--floating-label">
      <div class="aui-textfield__field">
        <input disabled class="aui-textfield__input" type="text" id="inputKilometraje2" placeholder="18000"/>
        <label class="aui-textfield__label" for="inputKilometraje2">Kilometraje:</label>
      </div>
    </div>

</div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--multiline" data-autosize="">
      <div class="aui-textfield__field">
        <textarea class="aui-textfield__input" id="inputDescripcion2" name="descripcion" rows="7" placeholder="..." disabled></textarea>
        <label class="aui-textfield__label" for="sample-textfield-multiline">Descripción:</label>
      </div>
      <span class="aui-textfield__description">Escriba aquí cualquier otro detalle del mantenimiento.</span>
    </div>

  </div>
</div>
