<div class="row">
  <div class="col-12">
    <table id="tblCitas2" class="table-hover aui-table aui-table--stretched" style="width:100%">
      <caption>Citas por reparar</caption>
      <thead>
        <tr>
          <th>Id</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Placa</th>
          <th>Kilometraje</th>
          <th>Llegada al Zentrum</th>
        </tr>
      </thead>
    </table>
    <br>
  </div>
</div>
<div id="msg_citasPorReparar" class="alert text-center" role="alert" style="display: none"></div>
<div class="row">
  <div class="col-12 text-center">
    <p>Seleccione una cita arriba. Luego ingrese los detalles del mantenimiento:</p>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div id="D-inputPrecio" class="aui-textfield aui-js-textfield aui-textfield--floating-label is-disabled">
      <div class="aui-textfield__field">
        <input disabled class="aui-textfield__input" type="text" id="inputPrecio" placeholder="0.00"/>
        <label class="aui-textfield__label" for="inputPrecio">Precio: $</label>
      </div>
    </div>


  </div>

  <div class="col-sm">
    <div id="D-inputKilometraje" class="aui-textfield aui-js-textfield aui-textfield--floating-label is-disabled">
      <div class="aui-textfield__field">
        <input disabled class="aui-textfield__input" type="text" id="inputKilometraje" placeholder="18000"/>
        <label class="aui-textfield__label" for="inputKilometraje">Kilometraje:</label>
      </div>
    </div>

</div>
</div>
<div class="row">
  <div class="col-sm">
    <div id="D-inputDescripcion" class="aui-textfield aui-js-textfield aui-textfield--multiline is-disabled" data-autosize="">
      <div class="aui-textfield__field">
        <textarea class="aui-textfield__input" id="inputDescripcion" name="descripcion" rows="7" placeholder="..." disabled></textarea>
        <label class="aui-textfield__label" for="sample-textfield-multiline">Descripción:</label>
      </div>
      <span class="aui-textfield__description">Escriba aquí cualquier otro detalle del mantenimiento.</span>
    </div>

  </div>
</div>
<div class="row">
  <div class="mx-auto">
    <button id="btnModificarMantenimiento" type="button" class="aui-button aui-button--primary aui-js-response aui-button--stretched" onclick="ModificarPrecioDescripcionKm()" disabled>Ingresar datos del mantenimiento</button>

  </div>
</div>
