<div class="row">
  <div class="col-12">
    <table id="tblValet" class="table-hover aui-table aui-table--stretched" style="width:100%">
      <caption>Valets</caption>
      <thead>
        <tr>
          <th>id</th>
          <th>nombre</th>
          <th>usuario</th>
          <th>correo</th>
        </tr>
      </thead>
    </table>
    <br>
  </div>
</div>

<div id="msg_eliminarValet" class="alert text-center" role="alert" style="display: none"></div>
<div class="row">
  <div class="mx-auto">
    <button id="btnEliminarV" type="button" class="aui-button aui-button--primary aui-js-response aui-button--stretched" onclick="EliminarEmpleadoBD(3)" disabled>Eliminar el valet Seleccionado</button>
  </div>

</div>
