<!DOCTYPE html>
<html lang="es" >

<head>
  <meta charset="UTF-8">
  <title>Login Dashboard Audi</title>
  <link rel='stylesheet prefetch' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="/css/audi-ui.css">
  <link rel="stylesheet" type="text/css" href="/css/login.css">
  <!-- Favicon-->
  <link class="favicon" rel="icon" type="image/png" sizes="32x32" href="" />

</head>
<body>
  <div id="contenedorLogin" class="container-fluid">
    <div class="row align-items-center" style="height:100%">
      <div class="col">
        <div style="margin-bottom:200px;margin-top:0px;">
          <h2 class="aui-headline-2" >Audi Zentrum Guayaquil</h2>
        </div>

        <form action="#" onsubmit="return Login();">
          <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
            <div class="aui-textfield__field">
              <input class="aui-textfield__input" type="text" id="txt-user" required/>
              <label class="aui-textfield__label" for="txt-user">Usuario</label>
            </div>
            <span class="aui-textfield__description">No ingrese su correo electrónico aquí</span>
          </div>
          <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
            <div class="aui-textfield__field">
              <input class="aui-textfield__input" type="password" id="txt-pass" required/>
              <label class="aui-textfield__label" for="txt-pass">Contraseña</label>
            </div>
            <a href="/passCorreo">
              <span class="aui-textfield__description">¿Olvidó su contraseña?</span>
            </a>
          </div>
          <span id="spanLogin" class="aui-textfield__error" style="display:none"></span><br>
          <button id="btnprimario" class="aui-button aui-button--primary aui-js-response aui-button--stretched" type="submit">
            Entrar
          </button> <br>
        </form>
      </div>
      <div class="col-lg-8 full-img"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.3.min.js"   integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM="   crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
  <script  src="/js/login.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyC65yjucEZ-MPLROIjMsTSEPdOnfjKbLa4",
      authDomain: "concierge-audi.firebaseapp.com",
      databaseURL: "https://concierge-audi.firebaseio.com",
      projectId: "concierge-audi",
      storageBucket: "concierge-audi.appspot.com",
      messagingSenderId: "831682357807"
    };
    firebase.initializeApp(config);
  </script>



</body>

</html>
