<div id="msg_mapa" class="alert text-center" role="alert" style="display: none"></div>
<div class="row">
  <div class="mx-auto">
    <nav class="aui-nav aui-js-nav aui-nav--bar aui-nav--inline">
      <div class="aui-nav__panel">
        <ul class="aui-nav__items">
          <li class="aui-nav__item"><a id="spnNav0"  onclick="MostrarMarcadores(0)" class="aui-nav__action is-active" href="#">Todos<span id="spanBtnTodos" class="badge badge-light badge-pill"></span></a></li>
          <li class="aui-nav__item"><a id="spnNav1"   onclick="MostrarMarcadores(1)" class="aui-nav__action" href="#">Por recibir asignado<span id="spanBtnRecibir" class="badge badge-light badge-pill" ></span></a></li>
          <li class="aui-nav__item"><a id="spnNav3"  onclick="MostrarMarcadores(3)" class="aui-nav__action" href="#">valet no asignado<span id="spanBtnNoAsignado" class="badge badge-light badge-pill"></span></a></li>
          <li class="aui-nav__item"><a  id="spnNav2"  onclick="MostrarMarcadores(2)" class="aui-nav__action" href="#">Por entregar<span id="spanBtnEntregar" class="badge badge-light badge-pill"></span></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>


    <div id="map"></div>
