<!DOCTYPE html>
<html lang="es" >
  <head>
    <meta charset="UTF-8">
    <title>Login Dashboard Audi</title>
    <link rel='stylesheet prefetch' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/css/audi-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!-- Favicon-->
    <link class="favicon" rel="icon" type="image/png" sizes="32x32" href="" />
  </head>
  <body>
    <div id="contenedorLogin" class="container-fluid">
      <div class="row align-items-center" style="height:100%">
        <div class="col">
          <div style="margin-bottom:200px;margin-top:0px;">
            <h3 class="aui-headline-3" >Recuperar Contraseña</h3>
          </div>
          <form action="#" onsubmit="return RecuperarClave();">
            <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
              <div class="aui-textfield__field">
                <input class="aui-textfield__input" type="email" id="txt-correo" required/>
                <label class="aui-textfield__label" for="txt-correo">Correo:</label>
              </div>
              <span class="aui-textfield__description">Ingrese su correo electrónico</span>
            </div>
            <span id="spanCorreo" class="aui-textfield__error" style="display:none"></span><br>
            <button id="btnEnviarCorreo" class="aui-button aui-button--primary aui-js-response aui-button--stretched" type="submit">
              Enviar
            </button> <br>
          </form>
        </div>
        <div class="col-lg-8 full-img"></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"   integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM="   crossorigin="anonymous"></script>
    <script  src="/js/login.js"></script>
  </body>
</html>
