<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div class="card " style="width: 18rem;">
      <img id="cardImagen" class="card-img-top d-block mx-auto" src="" alt="Foto del usuario">
      <div class="card-body">
        <h5 id="cardUsuario" class="card-title" ></h5>
        <!--
        <img src="/img/glyphicons/glyphicons-137-cogwheel.png" alt="">
        -->
        <h6 id="cardTipo" class="card-subtitle mb-2 text-muted"></h6>
      </div>
    </div>
  </div>
</div>


<div class="text-center">
  <p>
    La imagen solo se puede cambiar de la aplicación móvil y se mostrará la siguiente vez que inicie sesión
  </p>
</div>
<div id="msg_perfil" class="alert text-center" role="alert" style="display: none"></div>

<div class="row">
  <div class="col-4">
      <button class="aui-button aui-button--secondary aui-button--stretched  aui-js-response" type="button"  id="btnCambiarNombre" onclick="editarPerfil(1)">Cambiar nombre:</button>
  </div>
  <div class="col-8">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label is-disabled">

        <input disabled class="aui-textfield__input" type="text" id="cardNombre" placeholder=""/>
        <label class="aui-textfield__label" for="cardNombre">Nombre:</label>

    </div>
  </div>
</div><br>

<div class="row">
  <div class="col-4">
      <button class="aui-button aui-button--secondary aui-button--stretched  aui-js-response" type="button"  id="btnCambiarApellido" onclick="editarPerfil(2)">Cambiar apellido:</button>
  </div>
  <div class="col-8">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label is-disabled">

        <input disabled class="aui-textfield__input" type="text" id="cardApellido" placeholder=""/>
        <label class="aui-textfield__label" for="cardApellido">Apellido:</label>

    </div>
  </div>
</div><br>



<div class="row">
  <div class="col-4">
      <button class="aui-button aui-button--secondary aui-button--stretched  aui-js-response" type="button"  id="btnCambiarTelefono" onclick="editarPerfil(3)">Cambiar teléfono</button>
  </div>
  <div class="col-8">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label is-disabled">

        <input disabled class="aui-textfield__input" type="number" id="cardTelefono" placeholder="0900000000"/>
        <label class="aui-textfield__label" for="cardTelefono">Teléfono:</label>

    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-4">
      <button class="aui-button aui-button--secondary aui-button--stretched  aui-js-response" type="button"  id="btnCambiarCorreo" onclick="editarPerfil(4)">Cambiar correo</button>
  </div>
  <div class="col-8">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label is-disabled">

        <input disabled class="aui-textfield__input" type="email" id="cardCorreo" placeholder="correo@ejemplo.com"/>
        <label class="aui-textfield__label" for="cardCorreo">Correo:</label>

    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-4">
      <button class="aui-button aui-button--secondary aui-button--stretched  aui-js-response" type="button"  id="btnCambiarPass" onclick="editarPerfil(5)">Cambiar contraseña</button>
  </div>
  <div class="col-8">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label is-disabled">

        <input disabled class="aui-textfield__input" value="password" type="password" id="cardPass"/>
        <label class="aui-textfield__label" for="cardPass">Contraseña:</label>

    </div>
    <span class="aui-textfield__description">Para cambiar la contraseña debe haber iniciado sesión recientemente</span>
  </div>
</div>
