<div id="msg_rAuto" class="alert text-center" role="alert" style="display: none"></div>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" id="slcAnios2" onchange="ConsultarMes(2)"></select>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" id="slcMeses2" onchange="ConsultarDia(2)"></select>
    </div>
  </div>
  <div class="col-md-auto">
    <button class="aui-button aui-button--primary aui-js-response aui-button--stretched" type="button" name="btnConsultarCitas" id="btnConsultarRCitas2" onclick="ConsultarReportes(2)">Consultar</button>
  </div>
</div>
<div id="charts2" >
		<div id="wCanvas2" class="wrapper"></div>
</div>
