<div id="msg_rCitas" class="alert text-center" role="alert" style="display: none"></div>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" id="slcAnios1" onchange="ConsultarMes(1)"></select>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" id="slcMeses1" onchange="ConsultarDia(1)"></select>
    </div>
  </div>
  <div class="col-md-auto">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" name="" id="slcTipoR1">
        <option selected class="aui-select__input-label"value="1">Precio de mantenimientos</option>
        <option selected class="aui-select__input-label"value="2">Cantidad de Citas Finalizadas</option>
      </select>
    </div>
  </div>

  <div class="col-md-auto">
    <button class="aui-button aui-button--primary aui-js-response aui-button--stretched" type="button" name="btnConsultarCitas" id="btnConsultarRCitas1" onclick="ConsultarReportes(1)">Consultar</button>
  </div>
</div>

<div id="charts" >
		<div id="wCanvas1" class="wrapper"></div>
</div>
