<form action="#" onsubmit="return AgregarUsuario();">
  <div class="row">
    <div class="col-sm-12">
      <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <div class="aui-textfield__field">
          <input class="aui-textfield__input" type="text" id="inputNombre" placeholder="Juan" onemptied="LlenarUsuario()" onkeyup="LlenarUsuario()"required/>
          <label class="aui-textfield__label" for="inputNombre">Nombre:</label>
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <div class="aui-textfield__field">
          <input class="aui-textfield__input" type="text" id="inputApellido" placeholder="Pérez" required/>
          <label class="aui-textfield__label" for="inputApellido">Apellido:</label>
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-md-3">
      <div class="aui-select aui-js-select aui-select--floating-label">
        <select class="aui-select__input" id="inputTipo" onchange="CambiarTipoEmpleado()">
          <option selected class="aui-select__input-label">administrador</option>
          <option class="aui-select__input-label">valet</option>
        </select>
      </div>
    </div>
    <div class="col-md-9">
      <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <div class="aui-textfield__field">
          <input class="aui-textfield__input" type="text" id="inputUsuario" value="admin" required/>
          <label class="aui-textfield__label" for="inputUsuario">Usuario</label>
        </div>
        <span class="aui-textfield__description">Este usuario no podrá ser modificado en un futuro</span>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="aui-textfield__field aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="password" id="inputPass" required/>
        <label class="aui-textfield__label" for="inputPass">Contraseña</label>
      </div>
      <span class="aui-textfield__description">La contraseña debe tener como mínimo 6 caracteres</span>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="aui-textfield__field aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="password" id="inputPass2" required/>
        <label class="aui-textfield__label" for="inputPass2">Contraseña</label>
      </div>
      <span class="aui-textfield__description">Escriba nuevamente la misma contraseña</span>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <div class="aui-textfield__field">
          <input class="aui-textfield__input" type="email" id="inputCorreo" placeholder="correo@ejemplo.com" required/>
          <label class="aui-textfield__label" for="inputCorreo">Correo:</label>
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-sm-12">
      <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <div class="aui-textfield__field">
          <input class="aui-textfield__input" type="number" id="inputTelefono" placeholder="0900000000" required/>
          <label class="aui-textfield__label" for="inputTelefono">Teléfono:</label>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div id="msg_registrarEmpleado" class="alert text-center" role="alert" style="display: none"></div>
  <div class="row">
    <div class="mx-auto">
      <button id="btnRegistrarEmpleado" type="submit" class="aui-button aui-button--primary aui-js-response aui-button--stretched" >Registrar</button>
    </div>
  </div>
</form>
