<div class="row">
  <div class="col-12">
    <table id="tblSeminuevo" class="table-hover aui-table aui-table--stretched" style="width:100%">
      <caption>Vehículos seminuevos</caption>
      <thead>
        <tr>
          <th>id</th>
          <th>Placa</th>
          <th>Precio</th>
          <th>Kilometraje</th>
          <th>Año</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div id="msg_seminuevoImg" class="alert text-center" role="alert" style="display:none"></div>
<div class="row">
  <div class="col-sm-6  col-md-6 col-lg-3">
    <img class="imgSN" id="imgSN1" src="" alt="imagen">
    <form id="uploadimage1" action="" method="post" enctype="multipart/form-data">
      <input id="file1" name="file" type="file" class="form-control-file" onchange="readURL(this,1);">
    </form>
  </div>
  <div class=" col-sm-6  col-md-6 col-lg-3">
    <img class="imgSN" id="imgSN2" src="" alt="imagen 2">
    <form id="uploadimage2" action="" method="post" enctype="multipart/form-data">
      <input id="file2" name="file" type="file" class="form-control-file" onchange="readURL(this,2);">
    </form>
  </div>
  <div class=" col-sm-6  col-md-6 col-lg-3">
    <img class="imgSN" id="imgSN3" src="" alt="imagen 3">
    <form id="uploadimage3" action="" method="post" enctype="multipart/form-data">
      <input id="file3" name="file" type="file" class="form-control-file" onchange="readURL(this,3);">
    </form>
  </div>
  <div class="col-sm-6  col-md-6 col-lg-3">
    <img class="imgSN" id="imgSN4" src="" alt="imagen 4">
    <form id="uploadimage4" action="" method="post" enctype="multipart/form-data">
      <input id="file4" name="file" type="file" class="form-control-file" onchange="readURL(this,4);">
    </form>
  </div>
</div>
<br>



<div class="row">
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="text" id="inputPlaca3" placeholder="AUD-1234"/>
        <label class="aui-textfield__label" for="inputPlaca3">Placa:</label>
    </div>
  </div>
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="text" id="inputPrecio3" placeholder="0.00"/>
        <label class="aui-textfield__label" for="inputPrecio3">Precio: $</label>
    </div>
  </div>
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="text" id="inputKilometraje3" placeholder="0000"/>
        <label class="aui-textfield__label" for="inputKilometraje3">Placa:</label>
    </div>
  </div>
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="text" id="inputAnio3" placeholder="2018"/>
        <label class="aui-textfield__label" for="inputAnio3">Año:</label>
    </div>
  </div>
</div><br>
<div class="row">
  <div class="col-sm">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" id="slcModelo3">
      </select>
        <label class="aui-textfield__label" for="slcModelo3">Modelo:</label>
    </div>
  </div>
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="text" id="inputMotor3" placeholder="2.1"/>
        <label class="aui-textfield__label" for="inputMotor3">Motor:</label>
    </div>
  </div>
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--floating-label">
        <input class="aui-textfield__input" type="text" id="inputTraccion3" placeholder="4x4"/>
        <label class="aui-textfield__label" for="inputTraccion3">Tracción:</label>
    </div>
  </div>

  <div class="col-sm">
    <div class="aui-select aui-js-select aui-select--floating-label">
      <select class="aui-select__input" id="slcAC3">
        <option selected class="aui-select__input-label">SI</option>
        <option class="aui-select__input-label">NO</option>
      </select>
        <label class="aui-textfield__label" for="slcAC3">A/C:</label>
    </div>
  </div>

</div><br>
<div class="row">
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--multiline" data-autosize="">
      <div class="aui-textfield__field">
        <textarea class="aui-textfield__input" id="inputEquipamiento" name="descripcion" rows="7" placeholder="..."></textarea>
        <label class="aui-textfield__label" for="inputEquipamiento">Descripción:</label>
      </div>
      <span class="aui-textfield__description">Escriba aquí los detalles del equipamiento.</span>
    </div>
</div>
  <div class="col-sm">
    <div class="aui-textfield aui-js-textfield aui-textfield--multiline" data-autosize="">
      <div class="aui-textfield__field">
        <textarea class="aui-textfield__input" id="inputInformacion" name="informacion" rows="7" placeholder="..."></textarea>
        <label class="aui-textfield__label" for="inputInformacion">Más información:</label>
      </div>
      <span class="aui-textfield__description">Escriba aquí cualquier otra información adicional.</span>
    </div>
</div>
</div>
<div id="msg_seminuevo" class="alert text-center" role="alert" style="display:none"></div>
<div class="row">
  <div class="mx-auto">
    <button id="btnModificarSeminuevo" type="button" class="aui-button aui-button--secondary aui-js-response" onclick="GuardarSeminuevo(1)" disabled>Modificar Seleccionado</button>
    <button id="btnGuardarSeminuevo" type="button" class="aui-button aui-button--primary aui-js-response" onclick="GuardarSeminuevo(2)">Guardar Nuevo</button>
    <button id="btnEliminarSeminuevo" type="button" class="aui-button aui-button--secondary aui-js-response" onclick="EliminarSeminuevo()" disabled>Eliminar</button>
  </div>
</div>
