<div class="row">
  <div class="col-12">
    <p>Escriba la fecha que desea consultar en este formato (AAAA-MM-DD):</p>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-auto">

    <div class="aui-textfield aui-js-textfield ">
      <div class="aui-textfield__field">
        <input class="aui-textfield__input" type="date" id="inputFecha" placeholder=""/>
      </div>
    </div>

</div>

    <div class="col-md-auto">
      <button class="aui-button aui-button--secondary aui-js-response aui-button--stretched" type="button"  id="basic-addon2" onclick="ConsultarCitaFecha()">Consultar</button>
    </div>

  </div>




<div id="msg_separarCita" class="alert text-center" role="alert" style="display: none"></div>
<div class="row">
  <div class="col-12">
    <p>Horas disponibles por día:</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <button id="btnBloquear1" type="button" class="aui-button aui-button--primary aui-js-response aui-button--stretched" name="button9" disabled onclick="BloquearHora(1,'9:00')">9:00 <span id="spanBloquear1" class="badge badge-light badge-pill"></span></button>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <button id="btnBloquear2" type="button" class="aui-button aui-button--primary aui-js-response aui-button--stretched" name="button11" disabled onclick="BloquearHora(2,'11:00')">11:00 <span id="spanBloquear2" class="badge badge-light badge-pill"></span></button>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <button id="btnBloquear3" type="button" class="aui-button aui-button--primary aui-js-response aui-button--stretched" name="button13" disabled onclick="BloquearHora(3,'13:00')">13:00 <span id="spanBloquear3" class="badge badge-light badge-pill"></span></button>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
      <button id="btnBloquear4" type="button" class="aui-button aui-button--primary aui-js-response aui-button--stretched" name="button15" disabled onclick="BloquearHora(4,'15:00')">15:00 <span id="spanBloquear4" class="badge badge-light badge-pill"></span></button>
  </div>
</div>
