.au-buscar{
  position:absolute;
  top:10px;
  right: 0px;
}
.page-link{
  color: #333;
}
/* MAPA MARCADORES*/
#map {
  width: 100%;
  height: 750px;
}

.imgSN{
  width:100%;
  height: 150px;
}
/*
.divImgSn{
  background: url("/icons/png/asd.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/
.aui-pagination__link.is-active{
  text-decoration: underline;
}
body{
  font-family: 'AudiTypeScreen', sans-serif !important;
  font-size: 0.9rem!important;
}
.abp-pattern__nav-navigation-bar{
  -webkit-text-size-adjust: 100%!important;
  -webkit-font-smoothing: antialiased!important;
}
a.aui-nav__action.is-active{
  text-decoration: underline;
}
#chartsSideBar{
  margin-bottom:10px;
  padding-right:15px;
}

.sidebar-footer,.sidebar-header{
  position: fixed;
left: 0;
width: 250px;
background: #333;
    background-color: rgb(51, 51, 51);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;

transition: all 0.3s;
}
.sidebar-footer{
  bottom: 0;
  box-shadow: 0 -5px 25px 0 rgba(0,0,0,.15);
}
.sidebar-header{
  top: 0;
}
#btnSalir{
  color: #fff;
  filter:opacity(30%);
}#btnSalir img{
  filter:opacity(30%);
}
#btnSalir:hover{
  color: #fff;

filter:opacity(100%);
}#btnSalir img:hover{
  filter:opacity(0%);

}
