html,body, #contenedorLogin{
  height:100%;
}
.full-img {
 background: url(https://audiguayaquil.com/SERVICE/img-dashboard/audi-car-login.jpg);
 height: 100%;
   /* width: 100%;
   position: absolute;
   right: 0px;

      Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
